<h2 mat-dialog-title>Register Alert</h2>
<mat-dialog-content>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <mat-form-field class="form-field-row">
            
                <mat-label>Date</mat-label>
                <input matInput formControlName="date" placeholder="date">
                <mat-error *ngIf="registerForm.controls['date'].errors?.['required']">Campo requerido</mat-error>
                <mat-error *ngIf="registerForm.controls['date'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
                <mat-error *ngIf="registerForm.controls['date'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
                <mat-error *ngIf="registerForm.controls['date'].errors?.['pattern']">El formato no es valido</mat-error>
            </mat-form-field>
            <mat-form-field class="form-field-row">
            <mat-label>Level</mat-label>
            <input matInput formControlName="level" placeholder="level">
            <mat-error *ngIf="registerForm.controls['level'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['level'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['level'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['level'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Message</mat-label>
            <input matInput formControlName="message" placeholder="message">
            <mat-error *ngIf="registerForm.controls['message'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['message'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['message'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['message'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>User Id</mat-label>
            <input matInput formControlName="userId" placeholder="userId">
            <mat-error *ngIf="registerForm.controls['userId'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['userId'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['userId'].errors?.['maxlength']">Debe tener menos de 13 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['userId'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Event Id</mat-label>
            <input matInput formControlName="eventId" placeholder="eventId">
            <mat-error *ngIf="registerForm.controls['eventId'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['eventId'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['eventId'].errors?.['maxlength']">Debe tener menos de 13 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['eventId'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>
        
        <mat-dialog-actions>
            <button mat-button mat-dialog-close color="warn">Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>