<h2 mat-dialog-title>Edit Event</h2>
<form [formGroup]="editForm" (submit)="onSubmit()">
    <mat-dialog-content>
        <mat-form-field class="form-field-row">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="description">
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Magnitude</mat-label>
            <input matInput formControlName="magnitude" placeholder="magnitude">
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" placeholder="date">
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Pollutant Id</mat-label>
            <input matInput formControlName="pollutantId" placeholder="pollutantId">
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Resource Id</mat-label>
            <input matInput formControlName="resourceId" placeholder="resourceId">
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button mat-dialog-close="">Close</button>
        <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Save</button>
    </mat-dialog-actions>
</form>