<h2 mat-dialog-title>Register Resource</h2>
<mat-dialog-content>
    <form [formGroup]="registerForm" (submit)="onSubmit()">
        <mat-form-field class="form-field-row">
            <mat-label>Description</mat-label>
            <input matInput formControlName="description" placeholder="description">
            <mat-error *ngIf="registerForm.controls['description'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['description'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['description'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['description'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Magnitude</mat-label>
            <input matInput formControlName="magnitude" placeholder="magnitude">
            <mat-error *ngIf="registerForm.controls['magnitude'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['magnitude'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['magnitude'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['magnitude'].errors?.['pattern']">Solo se aceptan letras</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Date</mat-label>
            <input matInput formControlName="date" placeholder="date">
            <mat-error *ngIf="registerForm.controls['date'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['date'].errors?.['minlength']">Debe tener al menos 3 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['date'].errors?.['maxlength']">Debe tener menos de 30 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['date'].errors?.['pattern']">El formato no es valido</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Pollutant Id</mat-label>
            <input matInput formControlName="pollutantId" placeholder="pollutantId">
            <mat-error *ngIf="registerForm.controls['pollutantId'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['pollutantId'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['pollutantId'].errors?.['maxlength']">Debe tener menos de 13 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['pollutantId'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>
        <mat-form-field class="form-field-row">
            <mat-label>Resource Id</mat-label>
            <input matInput formControlName="resourceId" placeholder="resourceId">
            <mat-error *ngIf="registerForm.controls['resourceId'].errors?.['required']">Campo requerido</mat-error>
            <mat-error *ngIf="registerForm.controls['resourceId'].errors?.['minlength']">Debe tener al menos 10 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['resourceId'].errors?.['maxlength']">Debe tener menos de 13 caracteres</mat-error>
            <mat-error *ngIf="registerForm.controls['resourceId'].errors?.['pattern']">Solo se aceptan números</mat-error>
        </mat-form-field>
        
        <mat-dialog-actions>
            <button mat-button mat-dialog-close color="warn">Close</button>
            <button mat-raised-button color="primary" type="submit">Save</button>
        </mat-dialog-actions>
    </form>
</mat-dialog-content>